body {
    /* background-color: rgb(137, 233, 73); */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    max-width: 100%;
    margin: 0 auto;
}


form {
    padding: 50px 100px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
    background-color: rgb(88, 83, 83);;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {

    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 1px solid #000000;
    color: #283629;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #000000;
}

.form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-txt a {
    color: #0e331d;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.btn {
    transition: transform 0.2s ease-in-out;
    font-size: 17px;
    color: white;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(221, 233, 57, 0.4);
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(171, 178, 185);   
    transform: scale(1.1);
    cursor: pointer;
}
